@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');

body {
  font-family: "Open Sans", serif;
   background: url("img/vhs-bg.png") center center;
    background-size: cover;
    height: 100%;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: transparent;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.title-container {
  height: 90vh;
  background: url("img/bg-1.gif") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.title-container__title {
  margin-top: 70px;
  text-shadow: #cc0629 1px 3px;
  color: #f0e443;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Mr Dafoe', cursive;
  animation: star 10s ease-out infinite;
}

@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(-0.100em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(0.8);
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateZ(-2000em) translateY(-0.100em);;
  }
}

.form-container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #01CEF0;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 10px 20px;
  margin: 0 2px;
  border-radius: 45px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #cc0629;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #01CEF0;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #cc0629;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}